In [120]:
import pandas as pd
from dateutil import parser

In [121]:
omada_2014 = pd.read_excel("/Volumes/TRANSCEND/Violence Tracker/Omaha, NE/Omaha_NE_Homicide_Data_2014.xlsx")
omada_2015 = pd.read_excel("/Volumes/TRANSCEND/Violence Tracker/Omaha, NE/Omaha_NE_Homicide_Data_2015.xlsx")
omada_2016 = pd.read_excel("/Volumes/TRANSCEND/Violence Tracker/Omaha, NE/Omaha_NE_Homicide_Data_2016.xlsx")
omada_2017 = pd.read_excel("/Volumes/TRANSCEND/Violence Tracker/Omaha, NE/Omaha_NE_Homicide_Data_2017.xlsx")

In [122]:
omada_2014.head()

,Victim,Date,Location,Cause
0,Christopher Incontro,"Dec. 26, 2014",4015 North 127th Plaza,Stabbing
1,Kerrington Luker,"Dec. 21, 2014",3359 Erskine Ave.,Gunshot
2,Derek Johnson,"Dec. 21, 2014",30th Street at Meredith Avenue,Gunshot
3,Stephen Arps,"Nov. 4, 2014",45th Street at Grand Avenue,Gunshot
4,Johnnesha Brown,"Nov. 4, 2014",45th Street at Grand Avenue,Gunshot

In [123]:
#concatenate omada's data from 2014-2017
frames = [omada_2014,omada_2015,omada_2016,omada_2017]
df = pd.concat(frames);df.head()

,Cause,Date,Handling agency,Location,Victim
0,Stabbing,"Dec. 26, 2014",NaN,4015 North 127th Plaza,Christopher Incontro
1,Gunshot,"Dec. 21, 2014",NaN,3359 Erskine Ave.,Kerrington Luker
2,Gunshot,"Dec. 21, 2014",NaN,30th Street at Meredith Avenue,Derek Johnson
3,Gunshot,"Nov. 4, 2014",NaN,45th Street at Grand Avenue,Stephen Arps
4,Gunshot,"Nov. 4, 2014",NaN,45th Street at Grand Avenue,Johnnesha Brown

In [124]:
#dt = parser.parse(df['Date'])
df['Date']=df['Date'].apply(parser.parse);df

,Cause,Date,Handling agency,Location,Victim
0,Stabbing,2014-12-26,NaN,4015 North 127th Plaza,Christopher Incontro
1,Gunshot,2014-12-21,NaN,3359 Erskine Ave.,Kerrington Luker
2,Gunshot,2014-12-21,NaN,30th Street at Meredith Avenue,Derek Johnson
3,Gunshot,2014-11-04,NaN,45th Street at Grand Avenue,Stephen Arps
4,Gunshot,2014-11-04,NaN,45th Street at Grand Avenue,Johnnesha Brown
5,Gunshot,2014-10-25,NaN,7568 Miami Plaza,Erik Valencia
6,Gunshot,2014-10-18,NaN,3714 South 24th St.,Jose Fabila
7,Other,2014-10-15,NaN,1411 S. 54th St.,Mary McAndrews
8,Gunshot,2014-09-24,NaN,34th Street and Northridge Drive,Johntavious Swift
9,Gunshot,2014-09-17,NaN,721 S 72nd Street,"James R. Minshall, Sr."
10,Gunshot,2014-09-14,NaN,28th Street and Spencer Street,Quincy Harden
11,Other,2014-09-05,NaN,24th Street and Pratt Street,Markquis Walker
12,Gunshot,2014-08-30,NaN,24th Street and Pratt Street,L.B. Liggins
13,Gunshot,2014-08-28,NaN,4500 N. 36th Street,Lamar R. King
14,Other,2014-07-26,NaN,3506 N. 36th St.,Orlando Were
15,Gunshot,2014-07-20,NaN,3311 Howard St.,Frank J. Sanders
16,Gunshot,2014-07-20,NaN,3311 Howard Street,LaDontae Daugherty
17,Other,2014-07-06,NaN,John Galt Blvd. at Q Street,Sharlee Arnett
18,Gunshot,2014-06-25,NaN,3632 Hartman Ave.,Timothy Marzettie
19,Gunshot,2014-06-21,NaN,4234 Nebraska Ave.,Eugene Coleman Jr.
20,Gunshot,2014-06-18,NaN,3602 Patrick Ave.,Johnny L. Haynes
21,Gunshot,2014-06-07,NaN,34th Street and Spaulding Street,Brandon Wallace
22,Other,2014-05-25,NaN,4475 Redman Ave.,Benjamin Moore
23,Other,2014-05-18,NaN,9755 Mockingbird Drive,Tina Hoult
24,Other,2014-05-13,NaN,21st and Burt Streets,Aquilee Muse
25,Other,2014-05-06,NaN,14th and Mason Streets,Amanda Brown
26,Gunshot,2014-04-27,NaN,30th Street at Bedford Avenue,David Taplett
27,Gunshot,2014-04-14,NaN,2936 N. 52nd St.,Tielor Williams
28,Stabbing,2014-04-05,NaN,6106 Park Lane Drive,Darryel Fields
29,Gunshot,2014-03-07,NaN,6919 N 24th St.,Brandon Samuels
...,...,...,...,...,...
15,Stabbing,2016-07-05,Omaha Police Department,4509 North 63rd St.,Meredith Wells
16,Gunshot,2016-07-05,Omaha Police Department,27th and Laurel Avenue,Sam Bradley
17,Stabbing,2016-05-30,Omaha Police Department,3024 Pinkney,Angela Parks
18,Gunshot,2016-05-28,Omaha Police Department,2019 Lake St.,Carlos Alonzo
19,Gunshot,2016-05-19,Omaha Police Department,5109 N. 46th,Terry Kelley
20,Gunshot,2016-05-16,Omaha Police Department,16th and Yates Streets,Gustavo Soto
21,Gunshot,2016-05-15,Omaha Police Department,2904 U Plaza,Terrance Gunn
22,Unspecified,2016-05-06,Omaha Police Department,4153 Hamilton St.,Steven Edwards
23,None,2016-04-25,Omaha Police Department,7437 N. 34th St.,Merlin Prinz
24,Gunshot,2016-04-25,Omaha Police Department,4841 Boyd St.,Barbara Williams
25,Gunshot,2016-04-16,Omaha Police Department,24th Street and Franklin Street,Victor Beatty
26,Gunshot,2016-04-16,Omaha Police Department,24th Street and Franklin Street,Allen McReynolds
27,Gunshot,2016-03-02,Omaha Police Department,1634 Victor Ave.,Jarrell Haynes
28,Gunshot,2016-02-12,Douglas County Sheriff,2511 N. 140th St.,John Edwards
29,Gunshot,2016-02-12,Douglas County Sheriff,2511 N. 140th St.,Jason Edwards
30,Other,2016-01-05,Omaha Police Department,3025 Franklin St.,Alicia Morrow
0,Gunshot,2017-06-19,Omaha Police Department,6114 South 18th St.,Jason Davis
1,Gunshot,2017-06-17,Omaha Police Department,2530 Hartman Ave.,Virjillo Guerrero-Quiros
2,Unspecified,2017-05-31,Omaha Police Department,1521 Yates St.,Rachel Ham
3,Gunshot,2017-05-24,Omaha Police Department,39th and Redick Avenue,Brandon White
4,Gunshot,2017-05-13,Omaha Police Department,4310 South 36th St.,Oziel Vazquez-Serrano
5,Gunshot,2017-04-20,Omaha Police Department,4314 N. 65th St. No. 3,Brandon Mutum
6,Gunshot,2017-04-16,Omaha Police Department,1313 North 26th Street,Trent Stutheit
7,Gunshot,2017-04-02,Omaha Police Department,2701 Camden Avenue,Scott Evans
8,Gunshot,2017-03-28,Omaha Police Department,Florence Boulevard and Miami Street,Walter Griffin
9,Gunshot,2017-03-22,Omaha Police Department,4145 Ames Ave.,Laron Rogers
10,Gunshot,2017-01-26,Omaha Police Department,28th and Ruggles,Ashlyn Higgins
11,Gunshot,2017-01-11,Omaha Police Department,3615 Laurel Ave.,D'Angelo Branch
12,Gunshot,2017-01-11,Omaha Police Department,3306 Fowler Ave.,Darnesha Mitchell
13,Other,2017-01-07,Omaha Police Department,13804 Manderson Circle,Seth Hansen

In [125]:
df['year'], df['month'] = df['Date'].dt.year, df['Date'].dt.month
df.head()

,Cause,Date,Handling agency,Location,Victim,year,month
0,Stabbing,2014-12-26,NaN,4015 North 127th Plaza,Christopher Incontro,2014,12
1,Gunshot,2014-12-21,NaN,3359 Erskine Ave.,Kerrington Luker,2014,12
2,Gunshot,2014-12-21,NaN,30th Street at Meredith Avenue,Derek Johnson,2014,12
3,Gunshot,2014-11-04,NaN,45th Street at Grand Avenue,Stephen Arps,2014,11
4,Gunshot,2014-11-04,NaN,45th Street at Grand Avenue,Johnnesha Brown,2014,11

In [126]:
df_count = df.groupby(['year','month','Cause']).size().reset_index(name='count')

In [127]:
df_count=df_count.rename(columns = {'Cause':'homicide_type'});df_count.head()

   year  month homicide_type  count
0  2014      1       Gunshot      1
1  2014      2       Gunshot      1
2  2014      3       Gunshot      1
3  2014      3      Stabbing      1
4  2014      4       Gunshot      2

In [128]:
df_count.insert(0,'City','Omaha')

In [129]:
df_count.insert(1,'State','NE')

In [132]:
df_count['UCR_Type'] = ''

In [134]:
df_count.head(15)

     City State  year  month homicide_type  count UCR_Type
0   Omaha    NE  2014      1       Gunshot      1
1   Omaha    NE  2014      2       Gunshot      1
2   Omaha    NE  2014      3       Gunshot      1
3   Omaha    NE  2014      3      Stabbing      1
4   Omaha    NE  2014      4       Gunshot      2
5   Omaha    NE  2014      4      Stabbing      1
6   Omaha    NE  2014      5         Other      4
7   Omaha    NE  2014      6       Gunshot      4
8   Omaha    NE  2014      7       Gunshot      2
9   Omaha    NE  2014      7         Other      2
10  Omaha    NE  2014      8       Gunshot      2
11  Omaha    NE  2014      9       Gunshot      3
12  Omaha    NE  2014      9         Other      1
13  Omaha    NE  2014     10       Gunshot      2
14  Omaha    NE  2014     10         Other      1

In [135]:
df_count.to_csv('Omaha_NE_Homicide_Data_counts.csv',index=False,encoding='utf-8')