The marketing ops team sent over this spreadsheet containing four years of data from a CRM system (please make a copy of the spreadsheet in order to manipulate the data): https://docs.google.com/spreadsheets/d/16hLtx8bBDe2GS1MOa3v9hY6Yhm4C30koLoCpiIJ5WDg/edit?usp=sharing. 

The team wants to find the month they're likely to contact the most clients, so they can schedule a product upgrade announcement. Which month does the team tend to contact the greatest percentage of its clients?

#### Data Exploration

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('/Users/GuoZhiqi/Downloads/HireArt - Data Analyst Exercise 10.12.17.xlsx')

In [5]:
df.dtypes

Account manager            object
Client Name                object
Date of Contact    datetime64[ns]
dtype: object

In [7]:
df.columns

Index(['Account manager', 'Client Name', 'Date of Contact'], dtype='object')

In [16]:
df.head()

  Account manager                 Client Name Date of Contact  Month
0     Milan Crona     Wyman, Farrell and Haag      2015-10-31     10
1    Aidan Pouros  Veum, McClure and Schuster      2013-12-15     12
2    Aidan Pouros  Veum, McClure and Schuster      2013-12-07     12
3     Milan Crona             Armstrong Group      2013-11-02     11
4    Aidan Pouros   Lueilwitz, Moore and Hahn      2013-12-25     12

In [27]:
# extract month of data
df['Month'] = df['Date of Contact'].dt.month

#### Group by month and count distinct number of client. Then we sort the df and get the most client's month is October .

In [14]:
df_group = df.groupby(['Month']).count()

In [15]:
df_group

       Account manager  Client Name  Date of Contact
Month
1                   60           60               60
2                   64           64               64
3                   58           58               58
4                   52           52               52
5                   69           69               69
6                   77           77               77
7                   66           66               66
8                   79           79               79
9                  121          121              121
10                 213          213              213
11                  65           65               65
12                  77           77               77

In [26]:
df_group.sort_values(by=['Client Name'],ascending = False)

       Account manager  Client Name  Date of Contact
Month
10                 213          213              213
9                  121          121              121
8                   79           79               79
6                   77           77               77
12                  77           77               77
5                   69           69               69
7                   66           66               66
11                  65           65               65
2                   64           64               64
1                   60           60               60
3                   58           58               58
4                   52           52               52